.carrinho_body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EDEDED;
}

.carrinho_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 0.5rem;
}

.carrinho_list__products {
    width: 53rem;
    height: 31rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--rosa-claro);
}

.carrinho_list__products_header {
    color: #fff;
    gap: 1rem;
}

.carrinho_list__products_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF8F8;
    width: 100%;
    padding: 10px;
}

.carrinho_list__products_product img {
    width: 80px;
}

.h1p h1 {
    font-size: 1.188rem;
}

.h1p p {
    text-align: center;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    border: 2px solid #0000007e;
    padding: 5px 15px;
    border-radius: 5px;
}

.menos {
    color: #0000006b;
}

.contador p {
    font-size: 1.2rem;
}

.mais {
    color: var(--rosa-claro);
}

.valor {
    font-size: 1.2rem;
}

.remove__item {
    background-color: var(--rosa-claro);
    color: #fff;
    padding: 5px 20px;
    font-size: 1.3rem;
    border-top-left-radius: 14.73px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 14.73px;
}

.carrinho_summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 26rem;
    height: 31rem;
}

.carrinho_cart__summary,
.carrinho_delivery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 26rem;
    background-color: #FAF8F8;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.carrinho_cart__summary {
    height: 15.2rem;
}

.carrinho_delivery {
    height: 15.2rem;
}