@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F6E9;
  --foreground: #171717;
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
  --rosa-claro: #F9AAC0;
  --rosa-forte: #DC5274;
  --rosa-escuro: #550A1F;
  --amarelo-fraco: #FAEED8;
  --azul: #706DC3;
  --azul-claro: #65A7FF;
  --ciano: #7BD0B6;
  --marrom: #5D3A2E;
  --verde: #79B370;
  --hover: #47312e;
}

html {
  scroll-behavior: smooth !important;
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--rosa-claro) var(--background);
}

.scrollTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  border-radius: 50%;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
  color: #fff;
  font-size: 3rem;
  opacity: 0;
  visibility: hidden;
}

.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

.scrollTop:hover {
  background-color: #DC5274;
  transform: translateY(-4px);
}

.slogan-container {
  display: flex;
  text-align: center;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
}

.slogan-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: .5rem;
}

.slogan-logo {
  max-width: 100%;
  height: auto;
}

.slogan-text {
  color: var(--background);
  font-size: 4.5rem;
  width: 100%;
  font-style: italic;
  line-height: 4rem;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
  margin: 0;
}

.containerContador {
  display: flex;
  align-self: center;
}

.contador {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  border: 2px solid #0000007e;
  padding: 5px 15px;
  border-radius: 5px;
}

.menos {
  color: #0000006b;
  font-size: 1.3rem;
}

.contador p {
  font-size: 1.2rem;
  width: 2rem;
  text-align: center;
}

.mais {
  color: var(--rosa-claro);
  font-size: 1.3rem;
}

.highlighted-text {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 15px;
  color: #F9AAC0;
  display: block;
  margin-top: 1rem;
}


.inicie_pedido {
  background-color: var(--rosa-claro);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2px 80px;
  border-radius: 10px;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
}

.inicie_pedido:hover {
  transform: scale(1.1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inciar_pedido {
  margin-top: 1.5rem;
}

@media (max-width: 1200px) {
  .highlighted-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {

  .highlighted-text {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .highlighted-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .highlighted-text {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0 5%;
  }

  .parallax {
    background-position: 70% center;
    will-change: contents;
    background-size: cover;
    height: 107vh;
    overflow: visible;
  }

  .slogan-container {
    height: 100vh;
    background-clip: border-box;
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slogan-text {
    font-size: 2rem;
  }

  .highlighted-text {
    font-size: 1.5rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}